.back-button {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: #8c03f4 1px solid;
    overflow: hidden;
    transition: background 0.3s ease;
  }
  
  .back-button.back .arrow-wrap {
    left: -50%;
  }
  
  .back-button:hover {
    background: #8c03f4;
  }
  
  .back-button:hover .arrow-wrap span {
    background: #fff;
  }
  
  .arrow-wrap {
    display: block;
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.3s ease;
  }
  
  .arrow-wrap span {
    height: 1px;
    left: 0;
    top: 50%;
    background: #8c03f4;
    position: absolute;
    display: block;
    transition: background 0.3s ease;
  }
  
  .arrow-wrap .arrow-part-1 {
    width: 100%;
    transform: translate(0, -50%);
  }
  
  .arrow-wrap .arrow-part-2 {
    width: 60%;
    transform: rotate(-45deg);
    transform-origin: 0 0;
  }
  
  .arrow-wrap .arrow-part-3 {
    width: 60%;
    transform: rotate(45deg);
    transform-origin: 0 0;
  }

  .back-button .arrow-wrap {
    flex: 1;
  }
  
  .back-button .rescan-text {
    color: white; /* Adjust text color as needed */
    font-size: 14px; /* Adjust font size as needed */
    font-weight: bold; /* Adjust font weight as needed */
    margin-left: 10px; /* Adjust margin as needed */
    background: #03A9F4; /* Adjust background color as needed */
    padding: 5px 10px; /* Adjust padding as needed */
    border-radius: 5px; /* Adjust border radius as needed */
  }